
#movieDesc {
    display: flex;
    flex-direction: column;

}
img {
      height:25rem;
      width: 25rem;     
}

h1 {
    display: flex;
    align-items: center;
}

#button {
    border-color: aqua;
    /*cursor: ;*/

}
